
{% extends 'accounts/base.html' %}
{% block content %}


<div class="container" style="padding-top:10px">
    <h1>Align Your Post's</h1>

    <hr>

<form action="{{url_post}}" method="post">
    {% csrf_token %}
    {% for x,y,z in zipis %}

    {%if z == 'twitter' %}
    {% if content_len_flag %}
    <div class="alert alert-danger">
  <strong>Twitter text must be smaller or equal to 270 Characters, else this post will be discarded</strong>
</div>
    <div class="alert alert-danger" role="alert">
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:60px; border-radius: 50%;margin:10px;">
    <strong>{{y|title}} ~ {{z|title}}</strong>

    <br>
    <div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">~</span>
    </div>
    <textarea name="{{x}}" rows="10"  class="form-control" >{{message}}</textarea>
    </div>
    Media ~ {{filename}}
    <hr>
          </div>
    {%else%}
    <div class="alert alert-success" role="alert">
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:60px; border-radius: 50%;margin:10px;">
    <strong>{{y|title}} ~ {{z|title}}</strong>

    <br>
    <div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">~</span>
    </div>
    <textarea name="{{x}}" rows="10"  class="form-control" >{{message}}</textarea>
    </div>
    Media ~ {{filename}}
    <hr>
    </div>



    {%endif%}


    {%else%}
        <div class="alert alert-success" role="alert">
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:60px; border-radius: 50%;margin:10px;">
    <strong>{{y|title}} ~ {{z|title}}</strong>
    <br>
    <div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">~</span>
    </div>
    <textarea name="{{x}}" rows="10"  class="form-control" >{{message}}</textarea>
    </div>
    Media ~ {{filename}}
    <hr>

    </div>


    {%endif%}



    {% endfor %}

    <br>


    <button id="btn-btn" class="btn progress-bar-striped btn-danger " type="submit" name="submit">Select Time & Schedule</button>
</form>




<br><br><br><br><br><br>




</div>





{% endblock %}





