{% extends 'accounts/base.html' %}
{% block content %}


<div class="container" style="padding-top:10px">
    <h1>Competed Tasks</h1>
    <hr>
    {% if obj %}
    {%else%}
    <h3>No Tasks Found!<a href="/schedule-this-month" > Add a new one</a></h3>
    {%endif%}
    {% for x in obj %}
<div class="well">

<strong> <div class="alert alert-success alert-dismissible">
  {{x.content}}</strong>
    <br>
{{x.scheduled_datetime}}
    <br>
{{x.provider}}
              <br>
<strong>Posted : {{x.hit}}
</strong>
         <br>
{{x.schedule_dirtybit}}
</div>

    <form action="." method="post">
    {%csrf_token%}

        <button type="submit" class='btn btn-warning' name="edit" value="{{x.schedule_dirtybit}}">Edit & Reschedule</button>
        <button type="submit" class='btn btn-danger' name="delete" value="{{x.schedule_dirtybit}}">Delete Post</button>
    </form>



</div><hr>
    {% endfor %}
</div>



{% endblock %}

