{% extends 'accounts/base.html' %}
{% block content %}


<div class="container" style="padding-top:10px">
    <h1>Current Queue</h1>
    <hr>

    <form action="." method="POST">
        {%csrf_token%}
        <a href="/my-history" class="btn btn-primary">Queue History</a>
    <button class="btn btn-danger" type="submit" name="delete-full-queue">Clear Whole Queue</button>
    </form>
    <br><br>


    {% if obj %}

    {% for x in obj %}
<div class="well">

<strong>
    <div class="alert alert-danger alert-dismissible">
  {{x.content}}</strong>
    <br>
{{x.scheduled_datetime}}
    <br>
{{x.provider}}
              <br>
<strong>Posted : {{x.hit}}
</strong>
         <br>
{{x.schedule_dirtybit}}
</div>

    <form action="." method="post">
    {%csrf_token%}
        <button type="submit" class='btn btn-primary' name="view-only" value="{{x.schedule_dirtybit}}">View Info</button>
        <button type="submit" class='btn btn-warning' name="edit" value="{{x.schedule_dirtybit}}">Edit & Reschedule</button>
        <button type="submit" class='btn btn-danger' name="delete" value="{{x.schedule_dirtybit}}">Delete Post</button>
    </form>

{%if obj1 and x.schedule_dirtybit == obj1.schedule_dirtybit%}
    <div class="card">
  <div class="card-body">
      <h4>{{acc_name}} - {{acc_pro| title}}'s Post</h4>
      <br>
      <div class="container">

          {%if obj1.image%}
          <h6>Image -</h6> <img class="card-img-top" style="width: 18rem;" src="{{obj1.image.url}}">
               <br>
      <br>
          {%endif%}


          <h6>Message - {{obj1.content}}</h6>
          <h6>Scheduled Date & Time - {{obj1.scheduled_datetime}}</h6>

      </div>
  </div>
</div>
    {%endif%}

</div><hr>
    {% endfor %}

    {%else%}
    <h3>No Tasks Found!<a href="/schedule-this-month" > Add a new one</a></h3>
    {%endif%}
</div>



{% endblock %}

