
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Facebook Page Configure</title>
</head>

{% extends 'accounts/base.html' %}
{% block content %}

<div class="container">
    <h1 style="padding-top:20px;">Select Facebook Page</h1>

{% if accs%}


    {% for x in accs %}
     <br>

    <form action="/configure/" method="POST">
{% csrf_token%}
<button type="submit" class='btn-success btn' name="facebook-model" value="{{x.id}},,,,,{{x.access_token}},,,,,{{x.name}},,,,,{{object}}">{{x.name}}</button>
    </form>

    <hr>



{%endfor%}
{%else%}
    <h4>Please provide permission for your page.</h4>
    {%endif%}
</div>
{% endblock %}
</html>