
{% extends 'accounts/base.html' %}

{% block content %}


<div class="container" style="padding-top:10px">
    <h1>Create Your Post for {{date}}</h1>
</div>
<hr>

<div class="container">
{% if selections %}

    <form action="." method="POST" enctype="multipart/form-data">
        {% csrf_token %}
  <h3>Add a Description</h3>

        <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">~</span>
    </div>
      <textarea name="message" rows="10"  class="form-control" required>What's Going on! #Cache</textarea>
  </div>
        <h3>Attach Media</h3>
        {{ form }}
<!--   <div class="custom-file mb-3">-->
<!--      <input type="file" class="custom-file-input" id="customFile" name="filename">-->
<!--      <label class="custom-file-label" for="customFile">Choose file</label>-->
<!--    </div>-->
<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>
        <h3>Select Platforms</h3>

        {% for x in selections %}

        <div class="checkbox" >
             <label><input type="checkbox" value="{{x}}" name="{{x}}"><img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:60px; border-radius: 50%;margin:10px;">{{x.account_name|title}} <strong>{{x.provider|title}}</strong> {{x}}</label>
        </div>

        {% endfor %}

        <br>

        <button name="submit" type="submit" class="btn btn-danger">Configure for each platform </button>
</form>











    <br><br><br><br><br>


    {% else %}

    <div class="alert alert-danger">
  <h4><strong>Opps!</strong> Make Sure you have selected some accounts</h4>
        or follow this <a href="/configure">LINK</a>
</div>
    {% endif %}
</div>

{% endblock %}





