
{% extends 'accounts/base.html' %}
{% block content %}


<div class="container" style="padding-top:10px">
    <h1>Rechedule Post</h1>
   <hr>
<form action="{{url_post}}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:60px; border-radius: 50%;margin:10px;">
    <strong>{{Oprovider|title}} ~ {{Oname|title}}</strong>
    <br>
    <div class="input-group mb-3" name="text">
    <div class="input-group-prepend">
        <span class="input-group-text">~</span>
    </div>
    <textarea name="text" rows="10"  class="form-control" >{{Ocontent}}</textarea>
    </div>
    <h3>Change Media</h3>
        {{ form.as_p }}
    <hr>

    <br>
    <button class="btn progress-bar-striped btn-danger " type="submit" name="submit">Change Time & Schedule</button>
</form>


<br><br><br><br><br><br>




</div>





{% endblock %}





