
{% extends 'accounts/base.html' %}
{% block content %}


<div class="container" style="padding-top:10px">
    <h1>Select Time @{{request.user.username}}</h1>

<hr>


<style>
.slidecontainer {
  width: 75%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}






.slidecontainer2 {
  width: 75%;
}

.slider2 {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider2:hover {
  opacity: 1;
}

.slider2::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider2::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
</style>

{{error}}
<form action="{{post_url}}" method="post">
    {% csrf_token %}
<div class="slidecontainer">
    <h2>Choose Hour </h2>
    <input type="range" min="{{current_hour}}" max="23" value="{{current_hour}}" name="hour_is" class="slider" id="myRange">
</div>
<br>
<div class="slidecontainer">
    <h2>Choose Minutes</h2>
    <input type="range" min="{{current_min}}" max="59" value="{{current_min}}"  name="min_is" class="slider2" id="myRange2">
</div>
    <br>
    <button class="btn progress-bar-striped btn-warning btn-lg">JUST SEND IT </button>

</form>
<br>
<h1 style="padding-top:10px">On <span style="color:red">{{date}}</span> at <span id="demo" style="color:red"></span>:<span style="color:red" id="demo2"></span></h1>
<script>
var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value;

slider.oninput = function() {
  output.innerHTML = this.value;
}

var slider2 = document.getElementById("myRange2");
var output2 = document.getElementById("demo2");
output2.innerHTML = slider2.value;

slider2.oninput = function() {
  output2.innerHTML = this.value;
}

</script>
<hr>


</script>


</div>

{% endblock %}





